@font-face {
    font-family: 'supplyregular';
    src: url('fonts/supply-regular-webfont.woff2') format('woff2'),
    url('fonts/supply-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    background-color: #000;
    color: #FFF;
    font-family: 'supplyregular', monospace;
    margin: auto;
    max-width: 640px;
    padding: 50px 30px 100px;
}

a:link {
  color: #FFF;
  text-decoration:none;
}

a:visited {
    color: #FFF;
    text-decoration:none;
}

a:hover {
    color: #FFF;
    text-decoration:underline;
}

a:active {
    color: #FFF;
    text-decoration:none;
}
#background-video {
    width: 50%;
    position: absolute;
    left: 25%;
    right: 0;
    top: 20%;
    bottom: 0;
    z-index: -1;
}

#logo {
    justify-content: center;
    max-width: 100%;
}

#summary {
    line-height: 18px;
    text-align: center;
    padding-top: 60px;
    padding-bottom: 30px;
    text-transform: uppercase;
}

@media (min-width: 600px) {
    .row {
        display: flex;
    }
    .column {
        flex: 50%;
    }
    .column:first-child {
        padding-right: 20px;
    }
    .column:last-child {
        padding-left: 20px;
    }
}

.column p {
    text-align: justify;
}

#acknowledgment {
    padding-top: 30px;
}

#acknowledgment span {
    display: block;
    text-align: center;
    text-transform: uppercase;
}

#acknowledgment p {
    text-align: justify;
}

#contact {
    padding-top: 50px;
    text-align: center;
}

#contact p {
    text-transform: uppercase;
}

#contact p a{
    color: #FFF;
}

#sponsors {
    padding-top: 50px;
    text-align: center;
}
